$green: #00cc66;
$white_rose: #ecffec;
$green_gray: #0c884a;
$green_yellow: #90c031;
$white: white;
$blue: blue;
$red: red;
$black: black;
$orange: orange;
$color1: #029243;
$color2: #e4e4e4;
$color3: #f37924;
$color4: #00b468;
$color5: #999999;
$color6: #fcbf04;
$color7: #ccc;
$color8: #3c3737;
$color9: #595959;
$color10: #f2f2f2;
$color11: #738e00;
$color12: #f1d1d1;
$yellowgreen: yellowgreen;
